{% extends 'livros/base.html' %}

{% block content %}
    <div class="form-container">
        <h2 class="form-title">📖 Adicionar / Editar Livro</h2>

        <form method="post" class="styled-form">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>

            <div class="form-actions">
                <button type="submit" class="btn-save">Salvar</button>
                <a href="{% url 'listar_livros' %}" class="btn-cancel">Cancelar</a>
            </div>
        </form>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.getElementById("id_titulo").setAttribute("placeholder", "Digite o título do livro");
            document.getElementById("id_autor").setAttribute("placeholder", "Nome do autor");
            document.getElementById("id_generos").setAttribute("placeholder", "Nome do Gênero");
            document.getElementById("id_paginas").setAttribute("placeholder", "Digite o número de Páginas");
        });
    </script>
{% endblock %}
