{% extends 'livros/base.html' %}
{% load static %}

{% block content %}
    
        <nav class="navbar">
          <div class="logo">
            <img src="{% static 'svgs/logo.svg' %}" alt="Logo" width="150">
          </div>
          <div class="deco-btn-sair-nav">
            <div class="logo">{{ request.user.username }}</div>
            <a class="deco-btn-sair-nav" href="{% url 'usuario:login' %}">Sair</a>
          </div>
        </nav>
        <div class="container">
        <a href="{% url 'adicionar_livro' %}" class="btn btn-add"> 
            <i class="bi bi-plus"></i>Adicionar Livro
        </a>
        <div class="livros-list">
            {% for livro in livros %}
                <div class="livro-card">
                    <div class="livro-capa">
                    <div  style="background-color: {{ livro.cor }}; width: 150px; height: 200px; border-radius: 2px;">
                    </div>
                    </div>
                
                    <div class="livro-details">
                        <h3 class="livro-title">{{ livro.titulo }}</h3>
                        <p class="livro-info"><strong>Autor:</strong> {{ livro.autor }}</p>
                        <p class="livro-info"><strong>Gêneros:</strong> {{ livro.generos }}</p>
                        <p class="livro-info"><strong>Páginas:</strong> {{ livro.paginas }}</p>
                    </div>
                    <div class="livro-footer">
                            <a href="{% url 'editar_livro' livro.id %}" class="btn btn-edit">Editar</a>
                            <a href="{% url 'excluir_livro' livro.id %}" class="btn btn-delete">Excluir</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
