{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Biblioteca Virtual</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
</head>
<body>
  <nav class="navbar">
    <div class="logo">
      <img src="{% static 'svgs/logo.svg' %}" alt="Logo" width="150">
    </div>
    <div class="btn-index">
      <div class="btn-login-nav">
        <a class="deco-btn-login-nav" href="{% url 'usuario:login' %}">Entrar</a> 
      </div>
      <div class="btn-registrar-nav">
        <a class="deco-btn-registrar-nav" href="{% url 'usuario:register' %}">Registro</a>
      </div>
    </div>
  </nav>
<div class="index_principal">
  <div class="index_conteudo">
    <div class="titulo">
      <h1 class="title-biblio">Pare de perder seus <br> livros pelo caminho</h1>
      <p class="title-paragrafo">
        Cadastre sua coleção e tenha sempre sua biblioteca organizada.
      </p>
    </div>
  </div>
  <div class="index_imagem">
    <img class="imagem-livros" src="{% static 'svgs/livros.svg' %}" alt="livros e vaso de plantas">
  </div>
</div>
</body>
</html>
